<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ios.iGitHub.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0FE3F3C51D261832001E5D24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FE3F3DE1D261832001E5D24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FE3F3E91D261832001E5D24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
